body {
    margin: 30% auto;
    width: 320px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0%;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    /* margin-right: 20px; */
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	line-height: 15px;
    color: #333;
}

/* Old CSS
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';  
}
h3 {
    font-size: 2.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';  
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
*/ 

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
