<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="/css/main.css" media="screen">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" media="only screen and (max-width: 400px)" href="/css/mobile.css" />
			<link rel="stylesheet" media="only screen and (min-width: 401px)" href="/css/main.css"
			
		<!-- #GA -->	
		<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-62943179-1', 'auto');
  		ga('send', 'pageview');
		</script>
		
		<!-- 404 auto- redirect
		 {% if page.url == "/404.html" %}
		 <meta http-equiv="refresh" content="5; url=/">
		 {% endif %}
		  -->
		</head>
		<body>
			<nav>
			<h1>TR Scott</h1>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		
			</footer>
		</body>
	</html>
